.hero {
  height: 480px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 15vh;
}

.hero--grid {
  height: 232px;
  width: 395px;
  max-width: 400px;
  align-self: center;
}

.hero--title {
  margin: 0;
  padding-top: 22px;
  font-size: 36px;
  align-self: flex-start;
}

.hero--description {
  margin: 0;
  padding-top: 11px;
  width: 320px;
  font-size: 16px;
  text-align: left;
  line-height: 18px;
}
